[global]
mysql_server = {{ getv "/config/Database/Server" }}
mysql_database = {{ getv "/config/Database/Name" }}
mysql_user = {{ getv "/config/Database/User" }}
mysql_password = {{ getv "/config/Database/Password" }}
